<template>
  <v-app id="inspire">
    <v-content>
      <v-navigation-drawer v-model="drawer" app>
        <v-list dense>
          <v-list-item>
            <v-list-item-action>
              <v-icon>mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <router-link to="/">Главная</router-link>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar app color="indigo" dark>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>Административная панель</v-toolbar-title>
      </v-app-bar>
      <v-container>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field v-model="name" :rules="nameRules" label="Имя"></v-text-field>
          <v-text-field v-model="secondName" :rules="secondNameRules" label="Фамилия"></v-text-field>
          <v-text-field type="number" v-model="age" :rules="numberRules" label="Возраст"></v-text-field>
          <v-text-field type="number" v-model="rating" :rules="numberRules" label="Баллы"></v-text-field>
          <v-text-field type="number" v-model="position" :rules="numberRules" label="Позиция"></v-text-field>
          <v-dialog v-model="dialog" max-width="600">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark v-on="on">Выбрать фото</v-btn>
            </template>
            <v-card>
              <div class="cropper-wrapper">
                <div :style="{backgroundImage: 'url(' + image + ')'}" class="cropper-background"></div>
                <Cropper
                  :stencilComponent="$options.components.CircleStencil"
                  class="cropper-image"
                  ref="cropper"
                  :src="image"
                />
              </div>
              <v-card-actions>
                <v-btn color="green darken-1" text @click="$refs.file.click()">
                  <input
                    hidden
                    type="file"
                    ref="file"
                    accept="image/*"
                    @change="uploadImage($event)"
                  />
                  Загрузить фото
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click="crop">Сохранить</v-btn>
                <v-btn color="green darken-1" text @click="dialog = false">Закрыть</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn :disabled="!valid" color="success" @click="onClick">Добавить</v-btn>
          <v-btn color="error" @click="reset">Сброс</v-btn>
        </v-form>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import axios from 'axios'
import { Cropper, CircleStencil } from 'vue-advanced-cropper'
import { playerAdd } from '../axios'

export default {
  name: 'Admin',
  data: function() {
    return {
      position: null,
      name: null,
      secondName: null,
      age: null,
      rating: null,
      image: null,
      imageName: null,
      drawer: null,
      dialog: false,
      valid: true,
      coordinates: {
        width: 0,
        height: 0,
        left: 0,
        top: 0,
      },
      nameRules: [
        value => !!value || 'Обязательное поле',
        value => (value || '').length <= 20 || 'Максимум 20 символов',
      ],
      secondNameRules: [value => (value || '').length <= 20 || 'Максимум 20 символов'],
      numberRules: [value => (value || '').length <= 10 || 'Максимум 10 символов'],
    }
  },
  props: {
    source: String,
  },
  components: {
    Cropper,
    CircleStencil,
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    isFormValid() {
      return this.$refs.form.validate()
    },
    reset() {
      this.$refs.form.reset()
      this.image = null
    },
    crop() {
      const { coordinates, canvas } = this.$refs.cropper.getResult()

      this.coordinates = coordinates
      this.image = canvas.toDataURL()
    },
    uploadImage(event) {
      const input = event.target

      if (input.files && input.files[0]) {
        const reader = new FileReader()
        reader.onload = e => {
          this.image = e.target.result
          this.imageName = input.files[0].name
        }

        reader.readAsDataURL(input.files[0])
      }
    },
    onClick: function(e) {
      this.validate()

      if (this.isFormValid()) {
        playerAdd(this)
      }
    },
  },
}
</script>

<style scoped>
.cropper-wrapper {
  position: relative;
  height: 400px;
  background-image: url('../assets/images/resizing.png');
  background-position: center;
  background-size: 200px;
}
.cropper-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  filter: blur(5px);
  opacity: 0.25;
}
.cropper-image {
  border: solid 1px #eee;
  height: 400px;
  width: 100%;
}
</style>