<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Авторизация</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    required
                    label="Логин"
                    name="login"
                    prepend-icon="mdi-account"
                    v-model="login"
                    :type="text"
                    :rules="loginValidate"
                  ></v-text-field>
                  <v-text-field
                    required
                    label="Пароль"
                    name="password"
                    prepend-icon="mdi-lock"
                    v-model="password"
                    :rules="passwordValidate"
                    :type="showPassword ? 'text' : 'password'"
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  type="button"
                  color="primary"
                  :disabled="!valid"
                  @click.prevent="onClick"
                >Войти</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <div class="alert-list">
      <transition name="slide-fade-up">
        <v-alert
          class="alert-item"
          v-for="error in errors"
          type="error"
          dismissible
          :key="error.id"
        >{{ error.message }}</v-alert>
      </transition>
    </div>
  </v-app>
</template>

<script>
import axios from 'axios'
import router from '../routers'

export default {
  name: 'Auth',
  data: function() {
    return {
      valid: true,
      errors: [],
      login: '',
      password: '',
      showPassword: false,
      loginValidate: [
        value => !!value || 'Обязательное поле',
        value => (value || '').length <= 20 || 'Максимум 20 символов',
      ],
      passwordValidate: [
        value => !!value || 'Обязательное поле',
        value => (value || '').length >= 6 || 'Минимум 6 символов',
      ],
    }
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    onClick: function(e) {
      let errors = []

      this.validate()

      if (this.login && this.password) {
        axios
          .post('http://localhost:3030/user/auth', {
            login: this.login,
            password: this.password,
          })
          .then(res => {
            if (res.data.errors) {
              const error = {
                id: res.data.errors[0].id,
                message: res.data.errors[0].message,
              }
              throw error
            }

            localStorage.setItem('user', this.login)
            router.push('/admin')
          })
          .catch(err => {
            errors.push({
              id: err.id,
              message: err.message,
            })
          })
      }

      this.errors = errors
    },
  },
}
</script>

<style scoped>
</style>