<template>
  <div class="home">
    <div v-if="!isAuth">
      <router-link to="/register">Зарегистрироваться</router-link>
      <router-link to="/auth">Авторизоваться</router-link>
    </div>
    <div v-else>
      <button type="button" @click="onClickQuit">Выйти</button>
      <router-link to="/admin">Перейти в админку</router-link>
    </div>

    <PlayerList />
  </div>
</template>

<script>
import Search from '../components/Search.vue'
import PlayerList from '../components/PlayerList.vue'

export default {
  name: 'Home',
  components: { PlayerList },
  data: function() {
    return {
      isAuth: localStorage.getItem('user'),
    }
  },
  methods: {
    onClickQuit: function() {
      localStorage.removeItem('user')
      this.isAuth = ''
    },
  },
}
</script>

<style scoped>
</style>