<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Регистрация</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Логин"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="login"
                    :rules="loginValidate"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Пароль"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="password"
                    :rules="passwordValidate"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn type="button" color="primary" @click="onClick">Зарегистрироваться</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <div class="alert-list">
      <transition name="slide-fade-up">
        <v-alert
          class="alert-item"
          v-for="error in errors"
          type="error"
          dismissible
          :key="error.id"
        >{{ error.message }}</v-alert>
      </transition>
    </div>
  </v-app>
</template>

<script>
import axios from 'axios'
import router from '../routers'

export default {
  name: 'Reg',
  data: function() {
    return {
      errors: [],
      login: '',
      password: '',
      loginValidate: [
        value => !!value || 'Обязательное поле',
        value => (value || '').length <= 20 || 'Максимум 20 символов',
      ],
      passwordValidate: [
        value => !!value || 'Обязательное поле',
        value => (value || '').length >= 6 || 'Минимум 6 символов',
      ],
    }
  },
  methods: {
    onClick: function(e) {
      e.preventDefault()

      if (this.login && this.password) {
        axios
          .post('http://localhost:3030/user/register', {
            login: this.login,
            password: this.password,
          })
          .then(res => {
            localStorage.setItem('user', this.login)
            router.push('/admin')
          })
          .catch(function(err) {
            console.log(err)
          })

        return true
      }

      this.errors = errors
    },
  },
}
</script>

<style scoped>
</style>