<template>
  <div class="admin">{{ message }}</div>
</template>

<script>
export default {
  name: 'AdminPanel',
  data: () => ({
    message: 'Admin panel',
  }),
}
</script>

<style scoped>
</style>