<template>
  <div>
    <li v-for="item in info" :key="item.id" class="item">
      <span class="position">{{ item.position }}</span>
      <img class="image" :src="getImage(item.avatar)" />
      <div class="info">
        <div class="name">{{ item.name }} {{ item.secondName }}</div>
        <div class="age">Возраст: {{ item.age }}</div>
      </div>
      <div class="scores">
        <div class="number">{{ item.rating }}</div>
        <div class="text">баллов</div>
      </div>
    </li>
  </div>
</template>

<script>
import axios from 'axios'
import { getServerImagePath } from '../helpers'

export default {
  name: 'PlayerItem',
  data: function() {
    return {
      info: null,
    }
  },
  methods: {
    getImage(image) {
      return `${getServerImagePath}/${image}`
    },
  },
  mounted() {
    axios
      .get('http://localhost:3030/player/get_all')
      .then(res => {
        this.info = res.data
      })
      .catch(err => console.log(err))
  },
}
</script>

<style scoped>
.item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.position {
  margin-right: 50px;
}

.image {
  border-radius: 50%;
  width: 100px;
  margin-right: 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.scores {
  margin-left: auto;
}

.number {
  font-size: 20px;
  font-weight: 500;
}

.age,
.text {
  font-weight: 400;
  color: #808080;
  font-size: 14px;
}
</style>