<template>
  <div>
    <h2 class="title">Рейтинг участников</h2>
    <ul class="list">
      <PlayerItem />
    </ul>
  </div>
</template>

<script>
import PlayerItem from './PlayerItem.vue'

export default {
  name: 'PlayerList',
  components: {
    PlayerItem,
  },
  data: () => ({
    message: 'User list component',
  }),
}
</script>

<style scoped>
.title {
  margin-bottom: 20px;
}
</style>